<div class="task-list-container">
  <div class="header">
    <h1>Task List</h1>
    <button class="add-task-button" (click)="openModal()">+ Add Task</button>
  </div>
  <div *ngIf="tasks">
    <div class="task-filters">
      <input
        type="text"
        placeholder="Search tasks..."
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
        aria-label="Search tasks"
      />
      <select [(ngModel)]="filterStatus" (change)="onFilterChange()">
        <option value="all">All</option>
        <option value="completed">Completed</option>
        <option value="pending">Pending</option>
        <option value="overdue">Overdue</option>
      </select>
    </div>

    <div class="task-list">
      <div
        *ngFor="let task of filteredTasks; trackBy: utilService.trackById"
        class="task-item"
      >
        <div class="task-header">
          <h3 class="task-title">{{ task.title }}</h3>
          <p class="task-category">
            <strong>Category:</strong> {{ task.category }}
          </p>
        </div>
        <div class="task-details">
          <div>
            <p>{{ task.description }}</p>
            <p
              [class]="
                task.status === 'Completed'
                  ? 'status completed'
                  : task.status === 'Overdue'
                  ? 'status overdue'
                  : 'status pending'
              "
            >
              {{ task.status }}
            </p>
          </div>
          <div class="task-times">
            <p>
              <strong>Start:</strong>
              {{
                task.start
                  ? (task.start | date : "yyyy-MM-dd HH:mm:ss")
                  : "Not set"
              }}
            </p>
            <p>
              <strong class="end">End:</strong>
              {{
                task.end ? (task.end | date : "yyyy-MM-dd HH:mm:ss") : "Not set"
              }}
            </p>
          </div>
          <div class="task-actions">
            <button
              (click)="openModal(task)"
              [ngClass]="{ 'disabled-button': task.status === 'Completed' }"
              [disabled]="task.status === 'Completed'"
            >
              Edit
            </button>
            <button (click)="onDeleteTask(task.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Task Modal -->
    <app-task-modal
      *ngIf="isModalOpen"
      [task]="selectedTask"
      [httpError]="httpError"
      [isEditMode]="isEditMode"
      (save)="saveTask($event)"
      (close)="closeModal()"
    ></app-task-modal>
  </div>
  <div *ngIf="!tasks || tasks.length === 0" class="empty-state">
    <p>You don't have any tasks yet.</p>
  </div>
</div>
